@{
    ViewBag.Title = "¡Buscá puntos!";
}

@model TPDDSGrupo44.ViewModels.SearchViewModel

@Scripts.Render("~/scripts/index.js")

<script>

    $(document).ready(function () {
        var location = {
            lat: @ViewBag.Latitud ,
            lng: @ViewBag.Longitud };
        initMap(location, "@ViewBag.TextoLugar" );
    });

</script>


<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@ViewBag.Title</h1>
            <p>@ViewBag.Message</p>
        </hgroup>
    </div>
</section>

@using (Html.BeginForm("Index", "Search", FormMethod.Post))
{
    <input type="text" placeholder="¿Qué buscás?" name="palabraClave">
    <button type="submit">Buscar</button>
}

<div class="result @ViewBag.Search">
    @if (Model != null)
    {
        if (Model.paradasEncontradas.Count() != 0 || Model.paradasEncontradasCerca.Count() != 0)
        {
            <h2>Paradas de Colectivo</h2>
        }
        foreach (var punto in Model.paradasEncontradasCerca)
        {
            <div class="poi">
                <h3>@punto.palabraClave <span>(cercano)</span></h3>
                @punto.calle @punto.numeroAltura
                <div class="detalles">
                    <h4>Horarios</h4>
                    Siempre disponible.
                </div>
            </div>
        }

        foreach (var punto in Model.paradasEncontradas)
        {
            <div class="poi">
                <h3>@punto.palabraClave</h3>
                @punto.calle @punto.numeroAltura
                <div class="detalles">
                    <h4>Horarios</h4>
                    Siempre disponible.
                </div>
            </div>
        }

        if (Model.bancosEncontrados.Count() != 0 || Model.bancosEncontradosCerca.Count() != 0)
        {
            <h2>Banco</h2>
        }
        foreach (var punto in Model.bancosEncontradosCerca)
        {
            <div class="poi">
                <h3>@punto.palabraClave <span>(cercano)</span></h3>
                @punto.calle @punto.numeroAltura
                <div class="detalles">
                    <h4>Horarios</h4>
                    <ul>
                    @foreach (var horario in punto.horarioAbierto)
                    {
                        <li>@horario.dia abierto de @horario.horarioInicio a @horario.horarioFin</li>
                    }
                        </ul>
                    <h4>Servicios</h4>
                    <ul>
                        @foreach (var servicio in punto.servicios)
                        {
                            <li>
                                @servicio.nombre
                                <ul>
                                    @foreach (var horario in servicio.horarioAbierto)
                                    {
                                        <li>@horario.dia abierto de @horario.horarioInicio a @horario.horarioFin</li>
                                    }
                                </ul>
                            </li>
                        }
                    </ul>

                </div>
            </div>
        }

        foreach (var punto in Model.bancosEncontrados)
        {
            <div class="poi">
                <h3>@punto.palabraClave</h3>
                @punto.calle @punto.numeroAltura
                <div class="detalles">
                    <h4>Horarios</h4>
                    <ul>
                        @foreach (var horario in punto.horarioAbierto)
                    {
                            <li>@horario.dia abierto de @horario.horarioInicio a @horario.horarioFin</li>
                        }
                    </ul>
                    <h4>Servicios</h4>
                    <ul>
                        @foreach (var servicio in punto.servicios)
                        {
                            <li>
                                @servicio.nombre
                                <ul>
                                    @foreach (var horario in servicio.horarioAbierto)
                                    {
                                        <li>@horario.dia abierto de @horario.horarioInicio a @horario.horarioFin</li>
                                    }
                                </ul>
                            </li>
                        }
                    </ul>

                </div>
            </div>
        }

        if (Model.localesEncontrados.Count() != 0 || Model.localesEncontradosCerca.Count() != 0)
        {
            <h2>Locales Comerciales</h2>
        }
        foreach (var punto in Model.localesEncontradosCerca)
        {
            <div class="poi">
                <h3>@punto.palabraClave <span>(cercano)</span></h3>
                @punto.calle @punto.numeroAltura
                <div class="detalles">
                    <h4>Rubro</h4>
                    @punto.rubro.nombre
                    <h4>Horarios</h4>
                    <ul>
                    @foreach (var horario in punto.horarioAbierto)
                    {
                        <li>@horario.dia abierto de @horario.horarioInicio a @horario.horarioFin</li>
                    }
                    </ul>
                </div>
            </div>
        }

        foreach (var punto in Model.localesEncontrados)
        {
            <div class="poi">
                <h3>@punto.palabraClave</h3>
                @punto.calle @punto.numeroAltura
                <div class="detalles">
                    <h4>Rubro</h4>
                    @punto.rubro.nombre
                    <h4>Horarios</h4>
                    <ul>
                        @foreach (var horario in punto.horarioAbierto)
                    {
                            <li>@horario.dia abierto de @horario.horarioInicio a @horario.horarioFin</li>
                        }
                    </ul>

                </div>
            </div>
        }

        if (Model.cgpsEncontrados.Count() != 0 || Model.cgpsEncontradosCerca.Count() != 0)
        {
            <h2>CGPs</h2>
        }
        foreach (var punto in Model.cgpsEncontradosCerca)
        {
            <div class="poi">
                <h3>@punto.palabraClave <span>(cercano)</span></h3>
                @punto.calle @punto.numeroAltura

                <div class="detalles">
                    <h4>Horarios</h4>
                    <ul>
                        @foreach (var horario in punto.horarioAbierto)
                    {
                            <li>@horario.dia abierto de @horario.horarioInicio a @horario.horarioFin</li>
                        }
                    </ul>
                    <h4>Servicios</h4>
                    <ul>
                        @foreach (var servicio in punto.servicios)
                        {
                            <li>
                                @servicio.nombre
                                <ul>
                                    @foreach (var horario in servicio.horarioAbierto)
                                    {
                                        <li>@horario.dia abierto de @horario.horarioInicio a @horario.horarioFin</li>
                                    }
                                </ul>
                            </li>
                        }
                    </ul>

                </div>
            </div>
        }

        foreach (var punto in Model.cgpsEncontrados)
        {
            <div class="poi">
                <h3>@punto.palabraClave</h3>
                @punto.calle @punto.numeroAltura
                <div class="detalles">
                    <h4>Horarios</h4>
                    <ul>
                        @foreach (var horario in punto.horarioAbierto)
                    {
                            <li>@horario.dia abierto de @horario.horarioInicio a @horario.horarioFin</li>
                        }
                    </ul>
                    <h4>Servicios</h4>
                    <ul>
                        @foreach (var servicio in punto.servicios)
                        {
                            <li>
                                @servicio.nombre
                                <ul>
                                    @foreach (var horario in servicio.horarioAbierto)
                                    {
                                        <li>@horario.dia abierto de @horario.horarioInicio a @horario.horarioFin</li>
                                    }
                                </ul>
                            </li>
                        }
                    </ul>

                </div>
            </div>
        }

    }

        <p>@ViewBag.SearchText</p>
    
</div>

<div id="map"></div>