@model IEnumerable<TPDDSGrupo44.Models.CGP>

@{
    ViewBag.Title = "ABMCGP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ABMCGP</h2>

<p>
    @Html.ActionLink("Agregar CGP", "CreateCGP")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.calle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numeroAltura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.piso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.unidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codigoPostal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.localidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.barrio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.provincia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.entreCalles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.palabraClave)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipoDePOI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numeroDeComuna)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.zonaDelimitadaPorLaComuna)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.calle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numeroAltura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.piso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.unidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codigoPostal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.localidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.barrio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.provincia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pais)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.entreCalles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.palabraClave)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipoDePOI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numeroDeComuna)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.zonaDelimitadaPorLaComuna)
        </td>
        <td>
            @Html.ActionLink("Editar", "EditCGP", new { id=item.id }) |
            @Html.ActionLink("Borrar", "DeleteCGP", new { id=item.id })
        </td>
    </tr>
}

</table>
