@{
    ViewBag.Title = "Consulta de Disponibilidad";
}

@Scripts.Render("~/scripts/index.js")
<script>
    $(document).ready(function (){
        $("input[type='date']").val(new Date().toJSON().slice(0, 10));
    });
</script>

<section class="featured">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <p>@ViewBag.Message</p>
            </hgroup>
        </div>
    </section>
</section>

@using (Html.BeginForm("Availability", "Home", FormMethod.Post))
{
    <input type="text" placeholder="Buscar horarios de..." name="palabraClave"><input type="datetime-local" name="selectedDate"/>
    <button type="submit">Buscar</button>
}

<div class="result @ViewBag.Search">@ViewBag.SearchText</div>
