@{
    ViewBag.Title = "Consulta de Cercanía";
}

@Scripts.Render("~/scripts/index.js")

<section class="featured">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <p>@ViewBag.Message</p>
            </hgroup>
        </div>
    </section>
    </section>

    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <input type="text" placeholder="¿Qué buscás?" name="palabraClave">
        <button type="submit">Buscar</button>
    }

    <div class="result @ViewBag.Search">@ViewBag.SearchText</div>
