@{
    ViewBag.Title = "Consulta de Cercanía";
}

@Scripts.Render("~/scripts/index.js")

<script>

    $(document).ready(function () {
        var location = { 
            lat: @ViewBag.Latitud , 
            lng: @ViewBag.Longitud };
         initMap(location, "@ViewBag.TextoLugar" );
    });

</script>


<section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <p>@ViewBag.Message</p>
            </hgroup>
        </div>
</section>

    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <input type="text" placeholder="¿Qué buscás?" name="palabraClave">
        <button type="submit">Buscar</button>
    }

    <div class="result @ViewBag.Search">@ViewBag.SearchText</div>

    <div id="map"></div>